<connectionStrings>
  <add name="MyNewAccountsDbContext" connectionString="data source=devdb;initial catalog=MyNewAccountsDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  <add name="InnovestContextDb" connectionString="data source=devdb;initial catalog=Innovest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  <add name="iMAPConnectionString" connectionString="Data Source=devdb;Initial Catalog=iMAP;Integrated Security=True" providerName="System.Data.SqlClient"/>
  <add name="InnovestDBConnectionString" connectionString="Data Source=devdb;Initial Catalog=Innovest;Integrated Security=True" providerName="System.Data.SqlClient"/>
  <add name="MYSQLConnectDSN-NewAccountsDB" connectionString="Data Source=devdb;Initial Catalog=MyNewAccountsDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
</connectionStrings>
