<appSettings>
  <add key="ServiceLoggerName" value="ServiceLogger" />
  <add key="Port" value="9001" />
  <add key="CpuSettingsFile" value="D:\ControlWorks\Configuration\cpu.config" />
  <add key="VariableSettingsFile" value="D:\ControlWorks\Configuration\variables.config"/>
  <add key="ShutdownTriggerVariable" value="MainDriveRun"/>
  <add key="ShutdownTrigger" value="true"/>
  <add key="ConnectionStringName" value="FaspacContext"/>
</appSettings>
